.featureCard {
  margin-block: 5rem 2rem;
  width: 32rem;
  height: 28rem;
  padding: 7rem 3rem;
  border-radius: 1.5rem;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  background-color: var(--color-white);
}

.cardImg {
  height: 11rem;
  width: 11rem;
  border-radius: 100%;
  background-color: var(--color-input);
  margin-inline: auto;
  margin-block: auto;
  z-index: 2;
  transform: translateY(-50%);
  margin-top: -7rem;
  font-size: 6rem;
  display: grid;
  place-items: center;
}

.cardPara {
  margin-top: -3rem;
}

.cardPara h4 {
  font-weight: 500;
  font-size: 2rem;
  margin-block: 0.8rem 1.5rem;
}

.cardPara p {
  font-size: 1.6rem;
  opacity: 0.9;
}
