.featureCard {
  max-width: 30rem;
  min-width: 27rem;
  padding: 7rem 2rem 4rem;
  border-radius: 0.7rem;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
}

.cardImg {
  height: 11rem;
  width: 11rem;
  border-radius: 50%;
  background-color: var(--color-input);
  font-size: 6rem;
  display: grid;
  place-items: center;
  margin-top: -13rem;
}

.cardPara h4 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.25;
  margin-bottom: 0.7rem;
}

.cardPara p {
  font-size: 1.6rem;
  opacity: 0.9;
}

@media screen and (max-width: 1020px) {
  .featureCard {
    flex-basis: 33.33%;
  }
}

@media screen and (max-width: 580px) {
  .featureCard {
    flex-basis: 100%;
    max-width: 95%;
  }
}
