.cardImg {
  height: 11rem;
  width: 11rem;
  border-radius: 100%;
  background-color: rgb(255, 221, 177);
  margin-inline: auto;
}

.cardImg Image {
  z-index: 999;
}

.cardPara {
  width: 30rem;
  height: 28rem;
  padding: 8rem 2rem 3rem;
  margin-top: -5rem;
  z-index: 10;
  border-radius: 1.5rem;
  z-index: -1;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.cardPara h4 {
  font-weight: 500;
  font-size: 2rem;
  margin-block: 1rem 1.3rem;
}

.cardPara p {
  font-size: 1.6rem;
}
