.tasksPage {
  padding-bottom: 15rem;
}

/* Task Top Bar */
.stickyTop {
  position: sticky;
  top: 5.8rem;
  padding-top: 1rem;
  z-index: 99;
  background-color: var(--color-primary);
}

/* Select Group */
.selectGroup {
  margin-bottom: 1rem;
}

/* Media QUery */
@media screen and (min-width: 750px) {
  .tasksPage {
    padding-left: 10rem;
    padding-bottom: 0;
  }

  .stickyTop {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
  }

  .stickyTop > * {
    flex-basis: 100%;
  }

  .selectGroup {
    margin-bottom: 0;
    max-width: 36rem;
  }
}

@media screen and (min-width: 1000px) {
  .tasksPage {
    padding-left: 18rem;
  }
}
