.bar {
  background-color: var(--color-white-1);
  background-color: var(--color-green-6);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-inline: 0.5rem;
  border-top: 1px solid var(--color-green-3);
  display: flex;
  justify-content: space-around;
  /* display: grid;
  grid-template-columns: repeat(5, 1fr); */
  align-items: flex-end;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 0.9rem 0 0.5rem;
  text-transform: capitalize;
  position: relative;
}
.nav svg {
  font-size: 3rem;
}

/* .nav:nth-child(3),
.nav:nth-child(2) {
  gap: 0;
}

.nav:nth-child(3) svg {
  font-size: 1.5rem;
}

.nav:nth-child(2) svg {
  font-size: 1.4rem;
} */

.nav:global(.active) {
  color: black;
}

.nav:global(.active)::after {
  content: '';
  height: 0.23rem;
  position: absolute;
  top: -0.17rem;
  width: 4rem;
  border-radius: 50vw;
  background-color: black;
}
