.eventsPage {
  padding-block: 1rem 10rem;
}

.eventHeaderBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--color-green-1);
}

.eventHeaderBar button {
  font-weight: 500;
  color: var(--color-secondary-dark);
}

/* Events List Wrapper */
.eventsList_wrapper {
  /* min-height: 20rem; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
}

.eventCard {
  padding: 1rem;
  border-radius: 0.7rem;
  overflow-x: hidden;
  word-break: break-word;
  background-color: var(--color-green-light);
}

.eventCard_description {
  font-size: 1.7rem;
  /* word-break: break-word; */
  color: var(--color-secondary-dark);
}

.eventCard_description a {
  color: var(--color-blue);
  font-weight: 500;
}

.eventCard_time {
  font-size: 1.5rem;
}

.eventCard_time span {
  background-color: var(--color-primary);
  padding: 0.2em 0.5em;
  border-radius: 0.4rem;
  font-size: 1.4rem;
}

.timeDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  margin-block: 1.5rem;
}
.eventCard_priority {
  font-size: 1.4rem;
  padding-inline: 0.5em;
  border-radius: 0.4rem;
}

.btnDiv {
  display: flex;
  gap: 1.4rem;
  align-items: center;
}

.eventCard button {
  font-size: 1.7rem;
  gap: 0.4rem;
}

.dltBtn {
  color: var(--color-red);
}

.loadMoreBtn {
  margin-inline: auto;
}
