.attachmentsDiv {
  display: grid;
  gap: 1.6rem;
  margin-block: 1rem 2rem;
}

.attachment {
  display: flex;
  gap: 0.7rem;
  overflow-x: hidden;
  align-items: center;
  position: relative;
}

.attachment svg {
  font-size: 2rem;
  flex-grow: 0;
  flex-shrink: 0;
  color: var(--color-secondary-dark);
  cursor: pointer;
}
.attachment p {
  white-space: nowrap;
}

.attachment::after {
  content: '';
  background: linear-gradient(to left, #a3c4bc, #a3c4bc65);
  display: block;
  position: absolute;
  height: 100%;
  right: 0;
  width: 3.4rem;
}
