.teamSettingBody {
  padding-bottom: 3rem;
  max-width: 65rem;
}

.teamSettingBody input {
  width: 100%;
}

.teamLeaveDiv {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--color-green-light);
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.teamLeaveDiv p {
  font-size: 2rem;
}

.teamLeaveDiv button {
  color: var(--color-red);
  font-weight: 500;
}

.btnDiv {
  display: flex;
  gap: 1rem;
}
.changeNameForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-block: 1.6rem 2rem;
}

.changeNameForm input {
  text-transform: capitalize;
  flex-basis: 70%;
}
.changeNameForm select {
  flex-basis: 30%;
}

.adminLists {
  display: flex;
  flex-direction: column;
  padding-block: 1rem;
  gap: 1rem;
}
.teamSettingBody h4 {
  font-size: 1.8rem;
}

.adminCard {
  background-color: hsl(165, 30%, 77%);
  padding: 0.7rem 0.6rem 0.7rem 1rem;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.adminCard p {
  font-weight: 500;
  font-size: 1.8rem;
}

.adminCard select {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.6rem;
  padding: 0.2 0.7rem;
}

.adminCard button {
  font-weight: 500;
  font-size: 1.6rem;
  padding-block: 0.5rem;
  width: 8rem;
  background-color: hsl(166, 36%, 70%);
  border-radius: 0.4rem;
  transition: all 0.3s ease-in-out;
}

.searchDiv {
  margin-block: 1.6rem;
}

.noData {
  text-align: center;
  margin-block: 2rem;
  color: var(--color-green-1);
}

.deleteWrapper {
  margin-top: 3rem;
}

.deleteWrapper :global(.headerDiv) {
  color: var(--color-red);
  border-color: var(--color-red);
}

.deleteForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-block: 1rem;
}

.deleteForm p {
  color: var(--color-green-border);
  word-break: break-all;
}
.deleteForm p span {
  font-weight: 500;
  user-select: text;
}

.adminCard button:active {
  background-color: hsl(166, 36%, 63%);
}

@media (hover: hover) {
  .adminCard button:hover {
    background-color: hsl(166, 36%, 67%);
  }
  .adminCard button:active {
    background-color: hsl(166, 36%, 63%);
  }
}
