.btn {
  padding: 0.4em 0.5em;
  width: 12rem;
  border-radius: 0.7rem;
}

.btn:global(.md) {
  width: 15rem;
}

.btn:disabled {
  opacity: 0.7;
}
.btn:global(.primary) {
  background-color: var(--color-secondary);
  color: white;
}

.btn:global(.grey) {
  background-color: var(--color-green-dark);
  color: var(--color-green-2);
}
