.createEvent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 6.8rem;
}

.twoDiv,
.btnDiv {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.twoDiv > * {
  flex: 1 1 fit-content;
}

.btnDiv {
  margin-top: 0.4rem;
}

.createEvent input,
.createEvent textarea {
  height: 100%;
  width: 100%;
}

.createEvent input {
  padding-block: 0.37em;
}
