.taskCard {
  background-color: var(--color-primary);
  padding: 0.7rem 1rem 1rem;
  border-radius: 0.7rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  box-shadow: var(--card-shadow);
}

.taskCardTopBar,
.taskCardBottomBar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.taskCardTopBar {
  gap: 0.6rem;
  justify-content: space-between;
}
.taskUpdates {
  font-size: 1.4rem;
}

.low,
.normal,
.high {
  font-size: 1.25rem;
  background-color: hsl(208, 49%, 61%);
  color: hsl(208, 79%, 21%);
  width: 4.5em;
  text-align: center;
  border-radius: 5px;
}

.low {
  background-color: #ceedce;
}

.high {
  background-color: rgb(225, 143, 125);
  color: rgb(182, 3, 3);
}

.title {
  font-size: 2rem;
  line-height: 1.24;
  margin-block: 1rem;
  text-transform: capitalize;
  color: var(--color-secondary-dark);
}

.taskUpdates,
.taskid {
  color: var(--color-green-1);
}

.taskid {
  margin-left: auto;
}

.taskCardBottomBar p {
  font-size: 1.4rem;
}

.status {
  padding: 0.2rem 0.6rem;
  border-radius: 0.4rem;
  text-transform: uppercase;
  /* margin-left: auto; */
  text-align: center;
  background-color: #91b3ab;
}

.taskCardBottomBar {
  gap: 1rem;
}
