.taskCard,
.taskCardDnd {
  background-color: var(--color-primary);
  padding: 0.6rem 0.9rem 0.9rem;
  border-radius: 0.7rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border: 0.1rem solid var(--color-primary);
  box-shadow: var(--card-shadow);
}

.taskCard {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.taskCardDnd {
  height: fit-content;
  transition: border 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

/* If Dragging */
.dragging {
  border-color: var(--color-secondary-dark);
}
/* If Undrag state */
.taskCard.unDrag {
  opacity: 0.7;
  cursor: not-allowed;
}

.taskCardTopBar,
.taskCardBottomBar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.taskCardTopBar {
  gap: 0.6rem;
  justify-content: space-between;
}
.taskUpdates {
  font-size: 1.4rem;
}

.low,
.normal,
.high {
  font-size: 1.25rem;
  background-color: hsl(208deg 46.02% 45.51%);
  color: rgb(229 226 226);
  width: 4.5em;
  text-align: center;
  border-radius: 0.4rem;
}

.low {
  background-color: #ceedce;
  color: var(--color-green-1);
}

.high {
  background-color: rgb(208 58 24);
}

.title {
  font-size: 2rem;
  line-height: 1.24;
  margin-block: 1rem;
  text-transform: capitalize;
  color: var(--color-secondary-dark);
  word-break: break-all;
}

.taskUpdates,
.taskid {
  color: var(--color-green-1);
}

.taskid {
  margin-left: auto;
}

.taskCardBottomBar p {
  font-size: 1.4rem;
}

.status {
  padding: 0.2rem 0.6rem;
  border-radius: 0.4rem;
  text-transform: uppercase;
  /* margin-left: auto; */
  text-align: center;
  background-color: #91b3ab;
}

.taskCardBottomBar {
  gap: 1rem;
}

.delayed {
  color: var(--color-red);
}

.taskCard:active {
  background-color: hsl(165, 20%, 64%);
  transform: translateY(3px);
}

.taskCardDnd:active {
  background-color: hsl(165, 20%, 62%);
}

/* Media Hove */
@media (hover: hover) {
  .taskCard:hover,
  .taskCardDnd:hover {
    background-color: hsl(165, 22%, 67%);
  }
  .taskCard:active {
    background-color: hsl(165, 20%, 64%);
    transform: translateY(3px);
  }
  .taskCardDnd:active {
    background-color: hsl(165, 20%, 62%);
  }
}

@media screen and (min-width: 980px) {
  .taskCard {
    display: flex;
    flex-direction: column;
  }
  .taskCardBottomBar {
    margin-top: auto;
  }
}
