.createTeam {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.btnDiv {
  display: flex;
  gap: 1rem;
  margin-top: 0.7rem;
}

.createTeam input {
  padding: 0.34em 0.7em;
  border-radius: 0.7rem;
  font-size: 2rem;
  width: 100%;
  margin-bottom: 0.3rem;
  border: 2px solid transparent;
}
.createTeam input:focus {
  border-color: #2f4858;
}

.createTeam label {
  font-size: 2rem;
}
