.createTeam {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-top: -6.6rem;
}

.btnDiv {
  display: flex;
  gap: 1rem;
  margin-top: 0.7rem;
}

.createTeam input {
  padding: 0.44em 0.56em;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  width: 100%;
  margin-bottom: 0.3rem;
  border: 2px solid transparent;
  background-color: var(--color-white);
}
.createTeam input:focus {
  border-color: var(--color-green-border);
}

.createTeam label {
  font-size: 1.8rem;
}
