.membersPage {
  padding-bottom: 10rem;
}

/* Div Header */
.divHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-block: 1.5rem 0.5rem;
  border-bottom: 0.1rem solid var(--color-green-1);
}

.divHeader button {
  font-weight: 500;
  color: var(--color-secondary-dark);
}

/* Members Page */
.membersList {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.membersList_memberCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1rem;
  border-bottom: 1px solid var(--color-green-1);
}

.memberCard_info {
  display: flex;
  gap: 1rem;
}

.memberCard_info img {
  border-radius: 1rem;
}

.memberCard_name {
  text-transform: capitalize;
  font-size: 2.1rem;
  line-height: 1.25;
}
.memberCard_username {
  opacity: 0.8;
  font-size: 1.6rem;
}

.owner {
  color: var(--color-red);
}

.editor {
  color: var(--color-blue);
}

/* Invite Box */
.inviteBox {
  width: 100%;
  margin-top: 1rem;
  padding: 0.6em 0.6em 0.6em 3.3em;
  border: 1px solid transparent;
  display: flex;
  position: relative;
  background-color: var(--color-input);
  border-radius: 0.4rem;
}

.inviteBox:focus-within {
  border-color: var(--color-green-border);
}

.inviteBox:focus-within svg {
  opacity: 1;
}

.inviteBox input {
  width: 100%;

  background-color: transparent;
}

.inviteBox svg {
  position: absolute;
  left: 0.4rem;
  top: 0.8rem;
  font-size: 2.2rem;
  opacity: 0.7;
}

/* Search Results */
.searchResultsWrapper {
  margin-block: 1.5rem 4rem;
  border-top: 1px solid var(--color-green-1);
}
