.body {
  background-color: var(--color-green-dark);
  padding: 1.5rem;
  border-radius: 0.7rem;
  margin-top: 2rem;
}

.headerDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  margin-bottom: 1.6rem;
  border-bottom: 1px solid var(--color-green-1);
}

.teamWrapper {
  display: grid;
  padding-bottom: 3rem;
  gap: 2rem;
}

.loading {
  text-align: center;
  font-size: 1.4rem;
  color: #45645b;
  margin: 20px 0;
}

/* Create Team */

.createTeam {
  font-size: 1.9rem;
  display: flex;
  gap: 0.6rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.7rem;
  color: var(--color-secondary-dark);
  font-weight: 500;
  width: fit-content;
  cursor: pointer;
}

.createTeam svg {
  font-size: 2.5rem;
}

@media screen and (min-width: 900px) {
  .teamWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .teamWrapper {
    grid-template-columns: 1fr;
  }

  .body {
    margin-top: 0;
    position: sticky;
    top: calc(5.8rem + 2rem);
  }
}
