.joinCard {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-color: var(--color-green-3);
  width: 100%;
  height: fit-content;
  padding: 30px 0;
  margin: 20px 0 10px;
  border-radius: 7px;
}

.joinCard button {
  background-color: var(--color-black-1);
  color: white;
  font-size: 1.2rem;
  padding: 12px 7px;
  transition: all 0.3s ease-in-out;
}

.joinCard button:active {
  background-color: rgb(63, 64, 64);
}

.joinCard button:disabled {
  opacity: 0.4;
}

.joinCard input,
.joinCard button {
  width: 250px;
}
.joinCard input {
  padding: 10px 11px;
  font-size: 1.3rem;
  background-color: transparent;
  /* border: 2px solid var(--color-black-1);
  border: 2px solid #b5fbea; */
  border: 2px solid #3d604a;
  margin: 1px 0;
  color: var(--color-black-1);
}

.joinCard input::placeholder {
  color: #3d604a;
}

.joinCard input:focus {
  margin: 0;
  padding: 10px;
  border: 3px solid #2b403b;
}
