.modalWrapper {
  height: 100%;
  width: 100%;
  background-color: var(--color-primary);
  /* backdrop-filter: blur(4px); */
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  z-index: 1000;
  padding-top: 6.8rem;
  overflow-y: auto;
}
.cross {
  font-size: 4rem;
  cursor: pointer;
}

.modal_header {
  background-color: var(--color-primary);
  position: fixed;
  top: 0;
  padding-top: 1.2rem;
  /* max-width: 65rem; */
}
