.homePage {
  padding-bottom: 15rem;
}

/* Media QUery */
@media screen and (min-width: 750px) {
  .homePage {
    padding-left: 10rem;
    padding-bottom: 7rem;
  }
}

@media screen and (min-width: 1000px) {
  .homePage {
    padding-left: 18rem;
  }
}
