.features {
  padding-block: 3rem 5rem;
  text-align: center;
  margin-block: auto;
  margin-top: 5rem;
}

.features h2 {
  font-size: 3.6rem;
  margin-block: 2rem 0.5rem;
}

.features hr {
  margin-inline: auto;
  width: 15rem;
  margin-bottom: 5rem;
  border: none;
  border-top: 0.4rem solid var(--color-green-1);
}

.features > p {
  max-width: 600px;
  margin-inline: auto;
  margin-bottom: 5rem;
}

.featureContainner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
