.features {
  padding-bottom: 5rem;
  text-align: center;
  margin-block: auto;
}

.featureTitle {
  font-size: 3.6rem;
  margin-bottom: 10rem;
}

.featureTitle::after {
  content: '';
  width: 16rem;
  height: 0.4rem;
  background-color: var(--color-secondary);
  display: block;
  margin-inline: auto;
}

.featureContainner {
  display: flex;
  gap: 9rem 3rem;
  justify-content: center;
}

@media screen and (max-width: 880px) {
  .featureContainner {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 500px) {
  .featureTitle {
    font-size: 2.8rem;
  }
}
