.features {
  padding-block: 3rem 5rem;
  text-align: center;
  margin-block: auto;
  margin-top: 5rem;
}

.features h2 {
  font-size: 3.6rem;
  margin-block: 3rem 1.2rem;
}

.features > p {
  max-width: 600px;
  margin-inline: auto;
  margin-bottom: 5rem;
}

.featureContainner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
