.mainHeroSectionWrapper {
  height: 100%;
  max-width: 100%;
  position: relative;
}

.heroBlobSvg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -99;
}

.heroSection {
  display: flex;
  flex-wrap: wrap;
  height: 90%;
}

.leftContainner {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 40rem;
  padding-left: 5rem;
}

.leftContainner h1 {
  font-size: 4.5rem;
  line-height: 5rem;
  text-align: start;
  color: var(--color-secondary);
}

.heroPara {
  margin-block: 1rem 1.8rem;
  max-width: 550px;
  line-height: 2.3rem;
  font-size: 1.8rem;
}

.leftContainner h4 {
  font-size: 1.7rem;
}

.heroBtn {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
}

.heroPrimaryBtn {
  background-color: var(--color-secondary-dark);
  background-color: var(--color-accent-1);
  width: 15rem;
  padding: 0.45em 0;
  border-radius: 0.7rem;
  font-size: 2rem;
  margin-right: 2rem;
  color: rgb(231, 238, 240);
  background-color: var(--color-secondary);
}

.heroSecondaryBtn {
  font-size: 2rem;
  /* border-bottom: 2px solid var(--color-accent-1); */
}

.rightContainner {
  flex-basis: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightContainner > img {
  width: 200px;
  aspect-ratio: 9/20;
  height: auto;
  border: 0.35rem solid black;
  box-shadow: 0.7rem 0.7rem 2rem rgba(0, 0, 0, 0.35);
  border-radius: 2rem;
  overflow: hidden;
  margin-inline: 20px;
}

.leftMockup {
  margin-bottom: 40px;
}
.rightMockup {
  margin-top: 40px;
}
