.cardWrapper {
  background-color: var(--color-primary);
  width: 105%;
  margin-left: -2.5%;
  /* padding-top: 2rem;
  padding-bottom: 1.5rem; */
  padding-block: 2rem;
  position: sticky;
  top: 5.78rem;
  z-index: 99;
}

.card {
  background-color: var(--color-secondary);
  padding: 1.5rem 1rem 1.5rem 1.5rem;
  border-radius: 0.7rem;
  /* margin-top: 2rem; */
  width: 95%;
  margin-inline: auto;
  color: white;
}

.card h1 {
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 1.12;
  text-transform: capitalize;
}

.code {
  font-size: 2.3rem;
  color: var(--color-white);
}

.codeDiv {
  display: flex;
  margin-block: 0.5rem 0.1rem;
  gap: 1.5rem;
  align-items: center;
}

.codeDiv svg {
  font-size: 2rem;
  color: #265a55;
}
