.cardWrapper {
  background-color: var(--color-green-1);
  width: 105%;
  margin-left: -2.5%;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  position: sticky;
  top: 6rem;
}

.card {
  background-color: var(--color-green-3);
  padding: 1.5rem 1rem 1.5rem 1.5rem;
  border-radius: 0.7rem;
  /* margin-top: 2rem; */
  width: 95%;
  margin-inline: auto;
}

.card h1 {
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 1.12;
  text-transform: capitalize;
}

.code {
  font-size: 2.3rem;
  color: var(--color-white-1);
}

.codeDiv {
  display: flex;
  margin: 0.7rem 0 0.3rem;
  gap: 1.5rem;
  align-items: center;
}

.codeDiv svg {
  font-size: 2rem;
  color: #265a55;
}
