:root {
  --color-orange-1: #f49d37;
  --color-black-1: #140f2d;
  --color-blue-1: #7f95d1;
  --color-green-1: #a3c4bc;
  --color-green-2: #3c6e71;
  --color-green-3: #7c9e96;
  --color-green-4: #a3ccc2;
  --color-green-5: #bcebea;
  --color-green-6: #c9e3e2;
  --color-green-7: #617772;
  --color-green-border: #a3ccc2;
  --color-white-1: #e1edf2;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
  font: inherit;
  /* scroll-margin-top: 6.6rem; */
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body,
#__next {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

body {
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  background-color: var(--color-green-1);
  color: #2f4858;
}

html:focus-within {
  scroll-behavior: smooth;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Default font size for REM */
h1 {
  font-size: 3.45rem;
  font-weight: 600;
}
h2 {
  font-size: 2.4rem;
  font-weight: 600;
}
h3 {
  font-size: 2.24rem;
}

h4,
p {
  font-size: 1.7rem;
}
strong {
  font-weight: bold;
}

main {
  min-height: 100%;
  height: 100%;
  max-width: 900px;
  margin-inline: auto;
  /* padding-block: 2rem; */
  overflow: auto;
  /* padding-right: 0.6rem; */
  /* overflow: inherit; */
}

::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.header2 {
  text-align: center;
}
.header2::after {
  content: '';
  display: block;
  height: 2px;
  width: 100px;
  background-color: var(--color-black-1);
  margin: 5px auto 20px;
}

/* Styles */
.wrapper {
  max-width: 1400px;
  width: 90%;
  margin-inline: auto;
}

button {
  font-size: 1.9rem;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

input {
  outline: none;
  border: none;
  background-color: none;
  font-size: 1.9rem;
}
