:root {
  --color-primary: #a3c4bc;
  --color-green-dark: #7c9e96;
  --color-green-light: #bde0d8;
  --color-secondary: #2e4861;
  --color-secondary-dark: #140f2d;
  --color-accent-1: hsl(12, 46%, 53%);
  --color-blue: #4852a9;
  --color-red: #be165c;
  --color-green-1: #45645b;
  --color-green-2: #123b41;
  --color-input: #c9e3e2;
  --color-grey: #adbdc4;
  --color-white: #edfffb;
  --color-white-light: #e1edf2;
  --color-green-border: #617772;
  --card-shadow: 4px 4px 5px -5px rgba(0, 0, 0, 0.3),
    0px 0px 10px rgba(0, 0, 0, 0.15);
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
  font: inherit;
  /* scroll-margin-top: 6.6rem; */
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body,
#__next {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

body {
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  /* overflow-y: auto; */
}

html:focus-within {
  scroll-behavior: smooth;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Default font size for REM */
h1 {
  font-size: 3.45rem;
  font-weight: 600;
}
h2 {
  font-size: 2.4rem;
  font-weight: 600;
}
h3 {
  font-size: 2.24rem;
}

h4,
p {
  font-size: 1.7rem;
}
strong {
  font-weight: bold;
}
label {
  font-size: 1.8rem;
}

main {
  flex: 1;
}

::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.header2 {
  font-weight: 500;
  color: var(--color-secondary-dark);
}

.headerDiv {
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--color-green-1);
}

.headerBtn {
  font-weight: 500;
  color: var(--color-secondary-dark);
}

/* Styles */
.wrapper {
  max-width: 1400px;
  width: 95%;
  margin-inline: auto;
}

button {
  font-size: 1.9rem;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

input,
select,
textarea {
  outline: none;
  border: none;
  background-color: none;
  font-size: 1.8rem;
  color: var(--color-secondary-dark);
  background-color: var(--color-input);
  padding: 0.44em 0.56em;
  border-radius: 0.4rem;
  border: 0.2rem solid var(--color-input);
}

textarea {
  resize: vertical;
}

input:is(:active, :focus),
textarea:is(:active, :focus) {
  border-color: var(--color-green-border);
}

/* Priority Colors */
.Low {
  background-color: #eefcfa;
  color: rgb(3, 106, 84);
}

.Normal {
  background-color: hsl(240, 87%, 85%);
  color: hsl(240, 87%, 33%);
}

.High {
  background-color: hsl(8, 72%, 90%);
  color: #9b0606;
}

.noData {
  text-align: center;
  color: var(--color-green-1);
  max-width: 90%;
  margin: 10vh auto;
}

.noData.low {
  margin-block: 6vh;
}

.flexBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.formDiv {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
