.body {
  display: flex;
  flex: 1;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .body {
    gap: 2rem;
    margin-block: 2rem;
    display: grid;
    grid-template-columns: 5fr 3fr;
  }

  .body > div {
    flex-basis: 100%;
  }

  .rightDiv {
    padding-left: 2rem;
    border-left: 0.2rem dashed var(--color-green-1);
  }
}
