.login {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card p {
  max-width: 400px;
  font-size: 1.3rem;
}

.card h1 {
  font-size: 2.2rem;
}

.card button {
  padding: 10px 5px;
  width: 300px;
  font-size: 1.2rem;
  margin-top: 10px;
  border-radius: 7px;
  box-shadow: 2px 3px 18px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.card button:active {
  transform: scale(0.98);
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
}
.card button:disabled {
  opacity: 0.5;
}
