.welcomePage {
  height: inherit;
}

.heroSection {
  height: 100%;
  display: grid;
  place-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  text-align: center;
}
.heroBtn {
  background-color: var(--color-secondary-dark);
  background-color: var(--color-accent-1);
  width: 30rem;
  padding: 0.45em 0;
  border-radius: 50vw;
  font-size: 2rem;
  margin-top: 1.5rem;
  color: rgb(231, 238, 240);
}
