.navWrapper {
  /* border-bottom: 2px solid var(--color-green-3); */
  position: sticky;
  top: 0;
  /* background-color: var(--color-green-6); */
  background-color: var(--color-primary);
  z-index: 999;
}
.nav {
  height: 5.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 3.2rem;
  font-weight: 600;
}

.backBtn {
  font-size: 2rem;
  display: flex;
  align-items: center;
  font-weight: 600;
  margin-left: -0.5rem;
}

.menus {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  position: relative;
}

.menus_menu_profile {
  height: 4.5rem;
  width: 4.5rem;
  background-color: var(--color-white-light);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.menus_menu_create,
.menus_menu_requests {
  height: 4.5rem;
  width: 4.5rem;
  background-color: #96bab2;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.menus_menu_create {
  font-size: 4.5rem;
}

.menus_menu_requests {
  font-size: 3.4rem;
  position: relative;
}

.requestBall {
  height: 1.5rem;
  width: 1.5rem;
  background-color: var(--color-blue);
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50%;
}
