.navWrapper {
  border-bottom: 2px solid var(--color-green-3);
  position: sticky;
  top: 0;
  background-color: var(--color-green-6);
}
.nav {
  height: 6.48rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 3.2rem;
  font-weight: 600;
}

.backBtn {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  font-weight: 600;
  margin-left: -11px;
}

.menu {
  font-size: 3.5rem;
}
.close {
  font-size: 4.2rem;
  margin-right: -0.6rem;
  margin-left: 1rem;
}
